.addListButton {
  background-color: #D9C5B2;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 50px;
  width: 130px;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 5px;
  justify-content: space-between;
}

.addListButton:active{
  background-color: #7E7F83;
}

.addListText {
  display:flex;
  padding-top: 5px;
}

.subHeader {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.subHeaderButtons {
  display: flex;
  justify-content: space-between;
}

.cardGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 250px);
}
